{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true,
            "classes": true,
            "jsx": true,
            "modules": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "jest": true
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5"
            }
        ],
        "linebreak-style": 0
    },
    "plugins": [
        "prettier"
    ]
}