{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true,
            "classes": true,
            "jsx": true,
            "modules": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "jest": true,
        "es6": true
    },
    "rules": {
        "prettier/prettier": [
            "error"
        ],
        "no-unused-vars": [
            1,
            {
                "argsIgnorePattern": "res|next|^err"
            }
        ],
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "linebreak-style": 0,
        "react/jsx-filename-extension": 0
    },
    "plugins": [
        "prettier",
        "react",
        "jsx-a11y"
    ]
}